In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("Dataset_Facebook.csv", delimiter=';')

In [5]:
data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [6]:
subset = data[["Type",'like','share','comment']]

In [7]:
subset

       Type    like  share  comment
0     Photo    79.0   17.0        4
1    Status   130.0   29.0        5
2     Photo    66.0   14.0        0
3     Photo  1572.0  147.0       58
4     Photo   325.0   49.0       19
..      ...     ...    ...      ...
495   Photo    53.0   26.0        5
496   Photo    53.0   22.0        0
497   Photo    93.0   18.0        4
498   Photo    91.0   38.0        7
499   Photo    91.0   28.0        0

[500 rows x 4 columns]

In [8]:
subset[subset['like']>1000]

      Type    like  share  comment
3    Photo  1572.0  147.0       58
101  Photo  1505.0   95.0       26
168  Photo  1622.0  208.0      144
176  Photo  1047.0   98.0       29
199  Photo  1155.0  102.0       33
244  Photo  5172.0  790.0      372
323  Photo  1372.0   47.0       20
349  Photo  1639.0  122.0       45
379  Photo  1998.0  128.0       51
460  Photo  1546.0  181.0      146

In [9]:
subset1 = subset.iloc[:,:-1]
subset1

       Type    like  share
0     Photo    79.0   17.0
1    Status   130.0   29.0
2     Photo    66.0   14.0
3     Photo  1572.0  147.0
4     Photo   325.0   49.0
..      ...     ...    ...
495   Photo    53.0   26.0
496   Photo    53.0   22.0
497   Photo    93.0   18.0
498   Photo    91.0   38.0
499   Photo    91.0   28.0

[500 rows x 3 columns]

In [11]:
subset2=  subset.iloc[:,[-1,1]]
subset2

     comment    like
0          4    79.0
1          5   130.0
2          0    66.0
3         58  1572.0
4         19   325.0
..       ...     ...
495        5    53.0
496        0    53.0
497        4    93.0
498        7    91.0
499        0    91.0

[500 rows x 2 columns]

In [16]:
merged = pd.merge(subset1,subset2,on='like')

In [17]:
merged

       Type  like  share  comment
0     Photo  79.0   17.0        4
1     Photo  79.0   17.0        2
2     Photo  79.0   17.0        1
3     Photo  79.0   17.0        4
4     Photo  79.0   17.0        5
...     ...   ...    ...      ...
1405  Photo  91.0   38.0        7
1406  Photo  91.0   38.0        0
1407  Photo  91.0   28.0        5
1408  Photo  91.0   28.0        7
1409  Photo  91.0   28.0        0

[1410 rows x 4 columns]

In [20]:
sorted = subset.sort_values(by='like')

In [23]:
sorted

      Type    like  share  comment
21   Photo     0.0    0.0        0
441  Photo     0.0    0.0        0
76   Photo     0.0    0.0        0
417  Photo     0.0    0.0        0
100  Photo     0.0    0.0        0
..     ...     ...    ...      ...
168  Photo  1622.0  208.0      144
349  Photo  1639.0  122.0       45
379  Photo  1998.0  128.0       51
244  Photo  5172.0  790.0      372
111  Photo     NaN    NaN        0

[500 rows x 4 columns]

In [22]:
sorted.T

,21,441,76,417,100,122,428,422,120,429,...,199,323,101,460,3,168,349,379,244,111
Type,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
like,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,3.0,...,1155.0,1372.0,1505.0,1546.0,1572.0,1622.0,1639.0,1998.0,5172.0,NaN
share,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,NaN,0.0,...,102.0,47.0,95.0,181.0,147.0,208.0,122.0,128.0,790.0,NaN
comment,0,0,0,0,0,1,0,0,0,0,...,33,20,26,146,58,144,45,51,372,0

In [26]:
sorted.shape

(500, 4)

In [37]:
sorted.values.reshape(4,-1).shape

(4, 500)